body {
  margin: 2px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  /* overflow: visible; */
}
div.start-page {
  height: 925px;
  background: #2c241f url('../images/Background.png') no-repeat center top;
  /* linear-gradient(to left top, #1b1b1d, #4c3f37) */
  font-family: 'Arial';
  font-size: 15px;
  line-height: 19px;
  color: #cdcdcd;
}
header.start-page-header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
  top: 30px;
  right: 100px;
}
.start-page-menu-bar li {
  list-style-type: none;
  flex-direction: row;
}
.start-page-menu-bar li a {
  font-family: 'Arial';
  font-size: 15px;
  line-height: 19px;
  color: #cdcdcd;
  display: block;
  padding-bottom: 5px;
  text-decoration: none;
}
.start-page-menu-bar li a:hover {
  color: #ffffff;
  border-bottom: 2px solid #f1cdb3;
}
ul.start-page-menu-bar {
  display: flex;
  flex-basis: 1;
  justify-content: space-around;
  align-items: center;
  width: 530px;
}
div.start-page-logo {
  margin-top: 15px;
  flex-basis: 2;
  margin-left: 220px;
  width: 300px;
}
div.start-page-logo p {
  font-size: 13px;
  line-height: 20px;
  margin-top: 0;
  letter-spacing: 2px;
}

div.start-page-logo h1.start-page-logo-name {
  font-family: 'Georgia'; /* rewrite text styles with PS */
  font-size: 32px;
  line-height: 40px;
  color: #f1cdb3;
  margin-bottom: 0;
  margin-top: 10px;
  font-weight: normal;
}
main.start-page-main {
  display: flex;
  flex-direction: column;
  width: 670px;
  margin-left: 120px;
  margin-top: 15em;
}
button.standard {
  border-radius: 100px;
  border: 1px solid #bea28f;
  color: #292929;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 17px;
  letter-spacing: 1px;
  cursor: pointer;
}
button.standard:focus {
  outline: none;
}
main.start-page-main button.standard {
  width: 205px;
  height: 52px;
  background: #f1cdb3;
}

div.about-page-pets button {
  width: 190px;
  height: 50px;
  border: 2px solid #f1cdb3;
  background-color: inherit;
  cursor: pointer;
}
div.about-page-pets button:hover {
  background-color: #f1cdb3;
}
div.about-page-pets button.small {
  color: #292929;
  font-size: 20px;
  height: 35px;
  width: 35px;
  //
}

main.start-page-main button.standard:hover {
  background: #fddcc4;
}
main.start-page-main p {
  width: 70%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 24px;
  color: #cdcdcd;
  margin-bottom: 50px;
  margin-top: 10px;
}
main.start-page-main h1 {
  width: 50%;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 100;
  font-size: 44px;
  line-height: 57px;
  letter-spacing: 1.5px;
  color: #ffffff;
}
section.about-page {
  background-color: #fafafa;
  min-height: 1418px; /* check the size and display when smaller*/
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* overflow: visible; */
}
section.about-page h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 35px;
  line-height: 45px;
  font-weight: 100;
  letter-spacing: 1.5px;
  color: #545454;
  text-align: left;
}

div.about-page-info {
  flex-basis: 100%;
  min-height: 587px;
  display: flex;
  /* flex-direction: row; */
  flex-wrap: wrap;
  /* width: 60%; */
  justify-content: center;
}

div.about-page-info-img-holder {
  flex-basis: 20%;
  flex-shrink: 2;
}
div.about-page-info img {
  max-width: 300px;
  max-height: 408px;
  height: auto;
  margin: 5em 5em;
}

div.about-page-info-text {
  flex-basis: 40%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  /* margin-top: 5em;
  margin-left: 5em; */
  margin: 5em 5em;
}

div.about-page-info-text p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 24px;
  color: #4c4c4c;
  text-align: left;
  width: 430px;
}

h1.about-page-header {
  text-align: center;
}
div.about-page-selector {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-self: center;
  width: 90%;
  align-items: center;
  justify-content: space-around;
}

div.about-page-selector-pet-preview {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fafafa;
  border-radius: 10px;
  padding-bottom: 40px;
  margin-bottom: 50px;
}
div.about-page-selector-pet-preview:hover {
  background-color: #fefefe;
  cursor: pointer;
  box-shadow: #cdcdcd;
}

div.about-page-selector-pet-preview:hover button {
  background-color: #f1cdb3;
}

div.about-page-selector-pet-preview h1 {
  font-size: 20px;
  line-height: 45px;
  letter-spacing: 1.5px;
}
div.about-page-selector-pet-preview img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  /* padding-top: 20px; */
}

div.about-page-pets {
  width: 100%;
  min-height: 835px;
  background-color: #f6f6f6;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

div.about-page-pets h1.about-page-header {
  text-align: center;
  margin-top: 2em;
  margin-bottom: 2em;
  flex-basis: 100%;
}

div.about-page-pets > button.big {
  align-self: center;
  width: 270px;
  margin-bottom: 40px;
  background-color: #f4cdb2;
}
div.about-page-pets > button.big:hover {
  background-color: #fddcc4;
}

section.help-page {
  background-color: #fafafa;
  min-height: 1050px;
  /* box-sizing: border-box; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

h1.help-page-assistance-header {
  flex-basis: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 35px;
  line-height: 45px;
  font-weight: 100;
  letter-spacing: 1.5px;
  color: #545454;
}

div.help-page-assistance-options {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 8em;
}
div.help-page-assistance-options-preview {
  flex-basis: 20%;
  margin-bottom: 3em;
  min-width: 172px;
}

div.help-page-assistance-options-preview p {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 100;
  letter-spacing: 1.5px;
  color: #545454;
}
section.help-page div.help-page-donations {
  height: 435px;
  width: 100%;
  background-color: #f6f6f6;
  display: flex;
  justify-content: space-around;
}
section.help-page div.help-page-donations-image-holder {
  flex-basis: 45%;
}

section.help-page div.help-page-donations-image-holder img {
  max-width: 100%;
  height: auto;
  margin: 4em auto;
  min-width: 40%;
}
section.help-page div.help-page-donations-text {
  flex-basis: 45%;
  width: 400px;
  margin-top: 3em;
  text-align: start;
  color: #545454;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 100;
}

section.help-page div.help-page-donations-text h1 {
  font-size: 35px;
  line-height: 45px;
  letter-spacing: 2.5px;
  color: #545454;
  font-weight: 100;
}
section.help-page div.help-page-donations-text p {
  font-size: 15px;
  line-height: 20px;
  max-width: 400px;
  letter-spacing: 1px;
}

section.help-page
  div.help-page-donations-text
  p.help-page-donations-legal-info {
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  color: #b2b2b2;
  font-size: 12px;
  line-height: 18px;
}
button.bank-number {
  height: 40px;
  border-radius: 10px;
  background-color: #f4cdb2;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 1.5px;
}
button.bank-number:hover {
  background-color: #fddcc4;
}
section.contacts {
  max-height: 360px;
  /* background: linear-gradient(to left top, #1b1b1d, #4c3f37); */
  background: #2c241f url('../images/footer.png') no-repeat center top;
  display: flex;
}

div.contacts-field{
 flex-basis: 25%;
 margin-left: 4em;
 margin-top: 2em;
}
section.contacts h1 {
  font-size: 35px;
  line-height: 45px;
  color: #ffffff;
  letter-spacing: 2px;
  font-weight: 100;
}
section.contacts p {
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  line-height: 25px;
  color: #f1cdb3;
  font-weight: 100;
}
i {
  margin-right: 0.75em;
}
