body {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
div.start-page {
  min-height: 925px;
  background: #2c241f url('../images/Background.png') no-repeat center top;
  font-family: 'Arial';
  font-size: 0.9375rem;
  line-height: 1.188rem;
  color: #cdcdcd;
}
header.start-page-header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 0.8rem;
}
ul.start-page-menu-bar li {
  list-style-type: none;
  flex-direction: row;
  justify-content: space-evenly;
}
.start-page-menu-bar li a {
  font-family: 'Arial';
  font-size: 0.9375rem;
  line-height: 1.188rem;
  color: #cdcdcd;
  display: block;
  padding-bottom: 0.3125rem;
  text-decoration: none;
}
.start-page-menu-bar li a:hover {
  color: #ffffff;
  border-bottom: 2px solid #f1cdb3;
}
ul.start-page-menu-bar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 48%;
  margin-right: 2rem;
}
div.start-page-logo {
  margin-top: 1rem;
  margin-left: 7.5rem;
  width: 25%;
}
div.start-page-logo p {
  font-size: 0.8125rem;
  line-height: 1.25rem;
  margin-top: 0;
  letter-spacing: 0.125rem;
}

div.start-page-logo h1.start-page-logo-name {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 2.5rem;
  line-height: 3rem;
  color: #f1cdb3;
  margin-bottom: 0;
  margin-top: 0.625rem;
  font-weight: normal;
}
main.start-page-main {
  display: flex;
  flex-direction: column;
  width: 65%;
  margin-left: 7.5rem;
  margin-top: 15rem;
}
button.standard {
  border-radius: 100px;
  border: 1px solid #bea28f;
  color: #292929;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1rem;
  letter-spacing: 1px;
  cursor: pointer;
}
button.standard:focus {
  outline: none;
}
main.start-page-main button.standard {
  width: 12.81rem;
  height: 52px;
  background: #f1cdb3;
}

div.about-page-pets button {
  width: 75%;
  height: 3.125rem; 
  border: 2px solid #f1cdb3;
  background-color: inherit;
  cursor: pointer;
}
div.about-page-pets button:hover {
  background-color: #f1cdb3;
}

main.start-page-main button.standard:hover {
  background: #fddcc4;
}
main.start-page-main p {
  width: 73%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #cdcdcd;
  margin-bottom: 3.125rem;
  margin-top: 0.625rem;
}
main.start-page-main h1 {
  width: 55%;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 100;
  font-size: 2.75rem;
  line-height: 3.563rem;
  letter-spacing: 1.5px;
  color: #ffffff;
}
section.about-page {
  background-color: #fafafa;
  min-height: 1418px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
section.about-page h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 2rem;
  line-height: 2.8rem;
  font-weight: 100;
  letter-spacing: 1.5px;
  color: #545454;
  text-align: left;
}

div.about-page-info {
  flex-basis: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

div.about-page-info-img-holder {
  justify-content: center;
  align-items: center;
  display: flex;
  margin-right: 2rem;
  flex-basis: 30%;
}
div.about-page-info img {
  max-width: 100%;
  height: auto;
  margin: auto auto;
  min-width: 14rem;
}

div.about-page-info-text {
  flex-basis: 55%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

div.about-page-info-text p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #4c4c4c;
  text-align: left;
  width: 100%;
}

h1.about-page-header {
  text-align: center;
}
div.about-page-selector {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-self: center;
  width: 90%;
  align-items: center;
  justify-content: space-around;
}

div.about-page-selector-pet-preview {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fafafa;
  border-radius: 10px;
  padding-bottom: 2.5rem;
  margin-bottom: 2.5rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  max-width: 270px;
}
div.about-page-selector-pet-preview:hover {
  background-color: #fefefe;
  cursor: pointer;
  box-shadow: #cdcdcd;
}

div.about-page-selector-pet-preview:hover button {
  background-color: #f1cdb3;
}

div.about-page-selector-pet-preview h1 {
  font-size: 1.5rem;
  line-height: 2.8rem;
  letter-spacing: 1.5px;
}
div.about-page-selector-pet-preview img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

div.about-page-pets {
  width: 100%;
  min-height: 835px;
  background-color: #f6f6f6;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

div.about-page-pets h1.about-page-header {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  flex-basis: 100%;
}

div.about-page-pets > button.big {
  align-self: center;
  width: 270px;
  margin-bottom: 2.5rem;
  background-color: #f4cdb2;
}
div.about-page-pets > button.big:hover {
  background-color: #fddcc4;
}

section.help-page {
  background-color: #fafafa;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

h1.help-page-assistance-header {
  flex-basis: 100%;
  margin-top: 3.125rem;
  margin-bottom: 3.125rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 2.2rem;
  line-height: 2.8rem;
  font-weight: 100;
  letter-spacing: 1.5px;
  color: #545454;
}

div.help-page-assistance-options {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 6rem;
}
div.help-page-assistance-options-preview {
  flex-basis: 20%;
  margin-bottom: 3rem;
  min-width: 20%;
}

div.help-page-assistance-options-preview p {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1.25rem;
  line-height: 1.5rem;
  font-weight: 100;
  letter-spacing: 1.5px;
  color: #545454;
}
section.help-page div.help-page-donations {
  width: 100%;
  background-color: #f6f6f6;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
section.help-page div.help-page-donations-image-holder {
  flex-basis: 45%;
  display: flex;
}

section.help-page div.help-page-donations-image-holder img {
  max-width: 100%;
  height: auto;
  margin: auto auto;
  min-width: 40%;
}
section.help-page div.help-page-donations-text {
  flex-basis: 45%;
  width: 45%;
  text-align: start;
  color: #545454;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 100;
}

section.help-page div.help-page-donations-text h1 {
  font-size: 2.2rem;
  line-height: 2.8rem;
  letter-spacing: 2.5px;
  color: #545454;
  font-weight: 100;
}
section.help-page div.help-page-donations-text p {
  font-size: 1rem;
  line-height: 1.25rem;
  max-width: 70%;
  letter-spacing: 1px;
}

section.help-page
  div.help-page-donations-text
  p.help-page-donations-legal-info {
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  color: #b2b2b2;
  font-size: 0.75rem;
  line-height: 1.125rem;
}
button.bank-number {
  height: 40px;
  border-radius: 10px;
  background-color: #f4cdb2;
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.25rem;
  line-height: 1.85rem;
  letter-spacing: 1.5px;
}
button.bank-number:hover {
  background-color: #fddcc4;
}
section.contacts {
  max-height: 22.5rem;
  background: #2c241f url('../images/footer.png') no-repeat center top;
  display: flex;
}

div.contacts-field {
  margin-left: 4rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
section.contacts h1 {
  font-size: 2rem;
  line-height: 2.8rem;
  color: #ffffff;
  letter-spacing: 2px;
  font-weight: 100;
}
section.contacts p {
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.2rem;
  line-height: 1.5rem;
  color: #f1cdb3;
  font-weight: 100;
}
i {
  margin-right: 0.75rem;
}

@media screen and (max-width: 1200px) {
  section.contacts {
    background: #2c241f url('../images/footer-1024px.png') no-repeat center top;
  }
}

@media screen and (max-width: 1055px) {
  div.help-page-assistance-options-preview {
    flex-basis: 33%;
    margin-bottom: 1.5rem;
  }
  div.start-page-logo,
  main.start-page-main {
    margin-left: 5rem;
  }
  div.help-page-assistance-options {
    margin: 0 3rem;
  }
  section.help-page div.help-page-donations-text p {
    max-width: 100%;
  }
}

@media screen and (max-width: 1010px) {
  div.contacts-field {
    margin-left: 3rem;
  }
}

@media screen and (max-width: 850px) {
  div.contacts-field {
    margin-left: 5rem;
    flex-basis: 50%;
  }
  section.contacts {
    max-height: 300px;
    background: #2c241f url('../images/footer-850px.png') no-repeat center top;
  }
  section.help-page div.help-page-donations-text h1 {
    font-size: 2rem;
  }
  div.start-page-logo {
    width: 90%;
  }
  div.start-page-logo h1::after {
    content: '\2630';
    color: #f1cdb3;
    font-size: 2.5rem;
    margin-left: 2.5rem;
    position: absolute;
    right: 3rem;
  }
  ul.start-page-menu-bar {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  div.start-page {
    background: #2c241f url('../images/Background-768px.png') no-repeat center
      top;
  }

  section.help-page div.help-page-donations-text h1 {
    letter-spacing: 1px;
  }
  section.help-page div.help-page-donations-text p {
    letter-spacing: 0.5px;
  }
  div.start-page-logo,
  main.start-page-main {
    margin-left: 3rem;
  }
  ul.start-page-menu-bar {
    margin-left: -1.8rem;
  }
}

@media screen and (max-width: 706px) {
  div.start-page {
    background: #2c241f url('../images/Background-wo\ dog.png') no-repeat center
      top;
  }
  main.start-page-main {
    width: 85%;
    margin-top: 5rem;
  }
  div.start-page {
    min-height: 736px;
  }
  main.start-page-main h1 {
    width: 90%;
  }
  main.start-page-main p {
    width: 90%;
  }
  div.about-page-selector-pet-preview img {
    width: 100%;
    height: auto;
  }
  div.about-page-selector-pet-preview {
    max-width: 40%;
  }
  main.start-page-main button.standard {
    margin-top: 1rem;
  }
  section.help-page div.help-page-donations-image-holder {
    display: none;
  }

  section.help-page div.help-page-donations-text {
    flex-basis: 85%;
  }
  div.contacts-field {
    margin-left: 2rem;
  }
}

@media screen and (max-width: 633px) {
  html {
    font-size: 14px;
  }
  div.help-page-assistance-options-preview p {
    letter-spacing: 0;
  }
  section.about-page h1 {
    text-align: center;
  }
  div.about-page-info-text {
    flex-basis: 90%;
  }
  div.about-page-info-img-holder {
    margin-right: 0;
  }
  div.help-page-assistance-options {
    margin: 0px 1rem;
  }
}

@media screen and (max-width: 472px) {
  div.about-page-selector-pet-preview {
    max-width: 60%;
  }
  section.contacts h1 br {
    display: none;
  }
  section.contacts {
    max-height: 1300px;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 1rem;
    padding-top: 1rem;
    letter-spacing: 0;
  }
  div.contacts-field {
    flex-basis: 90%;
    margin: 0;
  }
  div.contacts-field h1 {
    letter-spacing: 0px;
  }
}
@media screen and (max-width: 375px) {
  div.start-page {
    min-height: 667px;
  }
  div.help-page-assistance-options-preview {
    flex-basis: 50%;
  }
}

@media screen and (max-width: 331px) {
  main.start-page-main {
    margin-top: 2rem;
  }
  section.about-page h1 {
    letter-spacing: 1px;
  }
  div.about-page-pets button {
    width: 80%;
  }
  button.bank-number,
  section.help-page div.help-page-donations-text h1 {
    letter-spacing: 0.5px;
  }
  div.contacts-field h1 {
    letter-spacing: 2px;
  }
  main.start-page-main button.standard {
    margin-top: 0;
  }
